h1 {
    color: #87d32a;
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 3px 0px #000000;
    z-index: 1;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}

img {
    position: absolute;
}
.shrek {
    z-index: 1;
    width: 300px;
    bottom: 0;
    left: 0;
}

.shrek2 {
    z-index: 1;
    width: 300px;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
}

.maxwell {
    z-index: 0;
    width: 275px;
    bottom: 40%;
    left: 0;
    right: 0;
    margin: auto;
}

body {

    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
